<%- include('partials/header.ejs') %>

  
  <center>
  <h1 class="p-2 bg-light"> Major Arcana Tarot Draw</h1>
  </center>


<%- include('partials/nav.ejs') %>


<center>
  <div class="container bg-light">
<span class="container bg-light" style="opacity:1;margin: 0 auto;">
  <h1>"<%=iquote%>""</h1>

</span>
  </div>
</center>


  <%- include('partials/footer.ejs') %>