<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

  <center><h1 class="p-2 bg-light"> Tarot Information</h1></center>
  <span>
<iframe src="https://www.sacred-texts.com/tarot/sot/sot01.htm" title="WHAT IS THE TAROT?" width="100%" class="bg-light" height="80%"></iframe>
</span>
    <%- include('partials/footer.ejs') %>