<footer class="fixed-bottom"> Descriptions provided By S. L. MacGregor Mathers book <a href="https://www.sacred-texts.com/tarot/mathers/index.htm" class="link-danger">The Tarot</a><br>
  CST336 Internet Programming 2022 
Discliamer: The information in this web page is ficticious.
It is used for academic purposes only. 

</footer>
</body>
</html>
