  <div>
  <!-- div class="p-3 text-muted bg-light" -->
    <!--h3 class="p-3 text-muted bg-light"-->
      <nav class="navbar navbar-light bg-light">
        <hr>
  <a class="navbar-brand text-warning" href="/">Home</a>
    <a class="navbar-brand text-info" href="/game">Pull A Card</a>
    <a class="navbar-brand text-info" href="/major">Major Arcana</a>
    <a class="navbar-brand text-info" href="/minor">Minor Arcana</a>
    <a class="navbar-brand text-info" href="/whatis">What is the Tarot</a>
    <a class="navbar-brand text-info" href="/about">About A.E. Waite</a>
        <hr>
</nav>
    <!-- /h3 -->
  </div><br>